section {
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.center-flex {
    justify-content: center;
    display: flex;
}

.toshop {
    background-color: skyblue;
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 3px 35px;
    width: 400px;
}